node_modules
out
release
dist
*.log
.DS_Store
Thumbs.db
docs
!docs/PLAN.md
*.tsbuildinfo
hancli/
.vscode/
java-backend/target
java-backend/.gradle
java-backend/META-INF/
java-backend/dependency-reduced-pom.xml
.tools
java-backend/.tools
java-backend/.idea
resources/jre-win/*
!resources/jre-win/README.md
